.main-footer{
    color: white;
    background-color: blueviolet;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}