.content-wrap {
    flex: 1;
    flex-direction: column;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(24, 24, 24);
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 3em;
    font-size: 18px;
    line-height: 35px;
    border-top: solid #663399;
    
    

  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.terms {
    border-top: solid #663399;
}

h2 {
    color: orange;
}