.dropdown {
  .dropdown-menu {
    .dropdown-item {
      &.active {
        background-color: #663399;
      }
    }
  }
}

.theme-red {
  .dropdown {
    .dropdown-menu {
      .dropdown-item {
        &.active, &:active {
          background-color: #99251d;
        }
      }
    }
  }
}

.theme-blue {
  .dropdown {
    .dropdown-menu {
      .dropdown-item {
        &.active, &:active {
          background-color: #275899;
        }
      }
    }
  }
}