
.nav {
  padding: 20px;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 1000;
  display: block;
  background-color: #ffffff;
  border-right: 1px solid #eeeeee;
  -webkit-box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
  -moz-box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
  box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);

  .nav-item {
    position: relative;
    left: 10px;

    .nav-link {
      color: #a1a8bf;
      border-radius: 4px;
      padding: 4px;
      margin-bottom: 1rem;
      &.active, &:hover {
        color: #663399;
      }
    }
  }
}

.dropdown-toggle:after { content: none }

.theme-dark {
  .nav {
    background-color: #343434;
    border-right: 1px solid #151515;
    -webkit-box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
    -moz-box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
    box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
    .nav-item {

    }
  }
}

.theme-dark-red {
  .nav {
    background-color: #343434;
    border-right: 1px solid #151515;
    -webkit-box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
    -moz-box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
    box-shadow: 4px 0px 4px -2px rgba(230, 230, 230, 0.5);
    .nav-item {
      .nav-link {
        &.active, &:hover {
          color: #99251d;
        }
      }
    }
  }
}

.theme-red {
  .nav {
    .nav-item {
      .nav-link {
        &.active, &:hover {
          color: #99251d;
        }
      }
    }
  }
}

.theme-blue {
  .nav {
    .nav-item {
      .nav-link {
        &.active, &:hover {
          color: #275899;
        }
      }
    }
  }
}

